<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis配置项-->
<configuration>
    <!--属性源-->
    <properties resource="jdbc.properties"/>
    <!--设置别名类型-->
    <typeAliases>

        <package name="com.bjpowernode.crm.settings.domain"/>
        <package name="com.bjpowernode.crm.workbench.domain"/>


    </typeAliases>
    <!--环境项-->
    <environments default="development">
        <!--所使用环境-->
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--使用默认数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--sql映射所在路径-->
    <mappers>

        <package name="com.bjpowernode.crm.settings.dao"/>
        <package name="com.bjpowernode.crm.workbench.dao"/>

    </mappers>
</configuration>

































